.norating-user-container {
    padding: 15px 0px 15px 0px;
    .norating-user {
        border: 1px solid lightgray;
        border-radius: 3px;
        display: flex;
        padding: 15px 0px 15px 0px;

        .text-left {
            display: flex;
            flex-direction: column;
            width: 400px;

            .black-title {
                color: black;
                margin: 0px;
                padding: 10px 10px 5px 25px;
                font-weight: 1000;

            }

            .nomal-title {
                padding: 5px 10px 5px 25px;
                color: gray;
                margin: 0px;
            }
            .two-text {
                margin: 0px;
                display: flex;
                flex-direction: row;
            }
            .orange-title {
                padding: 10px 10px 5px 0;
                color: #e08e00;
                font-weight: 1000;
                margin: 0px;
            }
        }
    }
}
