.sa-history-tab-container {
    background-color: #f5f5f5;
    padding: 5px 0px 20px 0px;
    background-color: white;
    > p {
        font-weight: 600;
    }
    .nomal-title {
        padding: 0px 10px 5px 0px;
        color: black;
        margin: 0px;
    }
}
